<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">

    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>

    <a type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <a class="brand" href="/">
        <img id="brand-logo-nav" src="/static/img/dataview-logo-black-18.png" alt="Dataview Logo" class="ie-img">

            Dataview
    </a>

    <div class="nav-collapse collapse">

            <ul class="nav">


                    <li class="dropdown menulink" id="dashmenu">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboards <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                    <li><a href="/client_dash/IND/">Indigo</a></li>

                                    <li><a href="/client_dash/MCD/">McDonald's</a></li>

                                    <li><a href="/client_dash/TDL/">Tim Hortons Canada</a></li>

                                    <li><a href="/client_dash/YPG/">Yellow Pages Group</a></li>

                            </ul>

                    </li>



                    <li class="menulink">
                        <a href="/reports/">Reports</a>
                    </li>




                    <li class="dropdown menulink" id="toolMenu" style="display: block;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                        <ul class="dropdown-menu">


                                    <li class="dropdown-submenu">
                                        <a class="dropdown-toggle" data-toggle="dropdown">Access Codes</a>
                                        <ul class="dropdown-menu scroll-menu">

                                                <li>
                                                    <a href="/tools/tokens/list/brand/CAT">Atlantic Trust</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/BMO">BMO</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/BMB">BMO Branches</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/CBS">Canadian Blood Services</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/BMC">Capital Markets</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/CSS">Centre de santé et de services sociaux</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/CWG">CIBC Wood Gundy</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/COG">Cogeco</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/COB">Cogeco QA Test Brand</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/EAT">Eaton</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/FAC">Foreign Affairs Canada</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/KEO">Keolis Bus</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/NYM">Le Parker Meridien - New York</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/LOR">LOreal</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/MSH">Minto Suites Hotel</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/OLG">Ontario Lottery Corp.</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/OPA">Operations Ace Demo</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/OPW">Operations WOW Demo</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/PDC">Palais Congres Montreal V2</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/QTT">QA QA</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/QA1">QA Test Brand</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/RBC">RBC Campus</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/RBI">RBC Insurance</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/ROG">Rogers Communications</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/RBB">Royal Bank Canada (branches)</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/SSC">Shared Service Canada</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/STC">STL PCafe</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/TOD">TD Bank</a>
                                                </li>

                                                <li>
                                                    <a href="/tools/tokens/list/brand/VC2">VCC Demo</a>
                                                </li>

                                        </ul>
                                    </li>



                                <li><a href="/tools/portalviewer/">Portal Viewer</a>
                                </li>


                                <li><a href="/tools/ap_manage/">Access Points</a>
                                </li>


                                <li class="nav-header">Device Grouping</li>
                                <li><a href="/tools/devices/">Device Creation</a>
                                </li>
                                <li>
                                    <a href="/tools/devicegrouping/">User-Agent Management</a>
                                </li>
                                <li>
                                    <a href="/tools/batchdevicegrouping/">Batch Device-grouping</a>
                                </li>

                        </ul>
                    </li>




                    <li class="dropdown menulink" id="toolMenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>

                        <ul class="dropdown-menu">



                                    <li class="dropdown-submenu">
                                        <a class="dropdown-toggle" data-toggle="dropdown">ACE Venue Manager</a>
                                        <ul class="dropdown-menu scroll-menu">


                                                <li>
                                                    <a href="/ace/CAT">Atlantic Trust</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/CBS">Canadian Blood Services</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/CPR">Canadian Pacific Railway</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/BMC">Capital Markets</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/CSS">Centre de santé et de services sociaux</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/COG">Cogeco</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/CCB">Cogeco City of Burlington</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/COB">Cogeco QA Test Brand</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/EAT">Eaton</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/FAC">Foreign Affairs Canada</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/FOR">Fortinos</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/GLF">Good Life</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/KEO">Keolis Bus</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/NYM">Le Parker Meridien - New York</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/MSH">Minto Suites Hotel</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/OLG">Ontario Lottery Corp.</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/OPA">Operations Ace Demo</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/PDC">Palais Congres Montreal V2</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/PNO">Pizza Nova</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/PRO">Provigo</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/QA1">QA Test Brand</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/ROG">Rogers Communications</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/SSC">Shared Service Canada</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/VC2">VCC Demo</a>
                                                </li>

                                                <li>
                                                    <a href="/ace/YIG">Your Independent Grocer</a>
                                                </li>

                                        </ul>
                                    </li>






                                    <li class="dropdown-submenu">
                                        <a class="dropdown-toggle" data-toggle="dropdown">WOW Event Manager</a>
                                        <ul class="dropdown-menu scroll-menu">


                                                <li>
                                                    <a href="/events/BMA">BMO IAP</a>
                                                </li>

                                                <li>
                                                    <a href="/events/EBW">Espace Bell World</a>
                                                </li>

                                                <li>
                                                    <a href="/events/KFC">KFC</a>
                                                </li>

                                                <li>
                                                    <a href="/events/OPW">Operations WOW Demo</a>
                                                </li>

                                                <li>
                                                    <a href="/events/QAT">QA WOW Brand</a>
                                                </li>

                                                <li>
                                                    <a href="/events/TRU">Toys R Us</a>
                                                </li>

                                                <li>
                                                    <a href="/events/WOW">Wireless On Wheels</a>
                                                </li>

                                        </ul>
                                    </li>



                        </ul>

                    </li>





                    <li class="dropdown menulink" id="accMenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                                <li><a href="/users/manage/">Users</a>
                                </li>

                                <li><a href="/groups/manage/">Groups</a>
                                </li>


                                <li><a href="/brands/">Brands</a>
                                </li>

                                <li class="divider"></li>



                                <li><a href="/logs/">Logs</a></li>


                                <li>
                                <a href="/notifications/manage/">Notifications</a>
                            </li>
                        </ul>
                    </li>


                    <li class="menulink"><a href="/start/"><span class="red-text">Admin</span></a></li>

            </ul>
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">aking@datavalet.com
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">

                        <li><a href="/accounts/modify/"><i class="icon-edit"></i> Edit Profile</a></li>
                    <li><a href="/logout/"><i class="icon-off"></i> Logout</a></li>
                </ul>
            </div>




    </div>
    </div>
    </div>
    </div>





 <div class="navbar-header">
    <a class="navbar-brand" href="#">Brand</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>



<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>