<div class="col-sm-3 col-md-3">
        <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accPrem" href="#col_premium">
                            Premium Reports
                        </a>
                    </div>
                    <div id="col_premium" class="panel-collapse collapse">
                        <div class="accordion-inner">
                            <ul>

                                    <li>
                                        <a href="/reports/daily_sessions_report/">Daily Sessions Report</a>
                                    </li>

                                    <li>
                                        <a href="/reports/device_group_report/">Device Group Report</a>
                                    </li>

                                    <li>
                                        <a href="/reports/intercept_page_hits_report/">Intercept Page Hits Report</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_details_report/">Session Details Report</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_statistics_by_device/">Session Report by Device</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_statistics_by_site/">Session Report by Site</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_statistics_by_package/">Sessions by Package</a>
                                    </li>

                                    <li>
                                        <a href="/reports/sms_report/">SMS Report</a>
                                    </li>

                                    <li>
                                        <a href="/reports/dvns_usage_breakdown/">Web Content Breakdown</a>
                                    </li>

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accStd" href="#col_standard">
                            Standard Reports
                        </a>
                    </div>
                    <div id="col_standard" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>

                                    <li>
                                        <a href="/reports/access_codes_report/">Access Codes Report</a>
                                    </li>

                                    <li>
                                        <a href="/reports/all_stores_report/">All Sites Report</a>
                                    </li>

                                    <li>
                                        <a href="/reports/credit_card_report/">Credit Card Report</a>
                                    </li>

                                    <li>
                                        <a href="/reports/regular_daily_sessions_report/">Daily Sessions Report</a>
                                    </li>

                                    <li>
                                        <a href="/reports/regular_session_details_report/">Detailed Session Report</a>
                                    </li>

                                    <li>
                                        <a href="/reports/detailed_session_report_user_auth/">Detailed Session Report - User Authentication</a>
                                    </li>

                                    <li>
                                        <a href="/reports/logons_by_time_intervals/">Logons by Time Intervals</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_statistics_by_device_regular/">Session Report by Device</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_statistics_by_site_regular/">Session Report by Store</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_statistics_by_package_regular/">Sessions by Package</a>
                                    </li>

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accCust" href="#col_custom">
                            Custom Reports
                        </a>
                    </div>
                    <div id="col_custom" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>

                                    <li>
                                        <a href="/reports/access_code_usage_summary_report/">Access Code Usage Summary Report - RBC</a>
                                    </li>

                                    <li>
                                        <a href="/reports/conversion_report_tdl/">Conversion Report - TDL</a>
                                    </li>

                                    <li>
                                        <a href="/reports/daily_logons_report_tdl/">Daily Logons Report – TDL</a>
                                    </li>

                                    <li>
                                        <a href="/reports/daily_session_report_sth/">Daily Session Report - STH</a>
                                    </li>

                                    <li>
                                        <a href="/reports/regular_daily_sessions_indigo/">Daily Sessions Report - INDIGO</a>
                                    </li>

                                    <li>
                                        <a href="/reports/day_of_the_week_usage_data_report_tdl/">Day of the Week Usage Data Report - TDL</a>
                                    </li>

                                    <li>
                                        <a href="/reports/detailed_logon_report_tdl/">Detailed Logon Report - TDL</a>
                                    </li>

                                    <li>
                                        <a href="/reports/detailed_result_report_cibc/">Detailed Result Report - CIBC</a>
                                    </li>

                                    <li>
                                        <a href="/reports/detailed_session_report_indigo/">Detailed Session Report - INDIGO</a>
                                    </li>

                                    <li>
                                        <a href="/reports/device_usage_summary_starbucks/">Device Usage Summary - STARBUCKS</a>
                                    </li>

                                    <li>
                                        <a href="/reports/dvns_usage_breakdown_tdl/">DV-DNS Usage Breakdown - TDL</a>
                                    </li>

                                    <li>
                                        <a href="/reports/dvmap_ad_impression_stats/">DV-MAP Ad Impression Stats</a>
                                    </li>

                                    <li>
                                        <a href="/reports/logon_average_per_restaurant_per_day_report_tdl/">Logon Average per Restaurant per Day Report - TDL</a>
                                    </li>

                                    <li>
                                        <a href="/reports/logons_by_day_part_report_tdl/">Logons by Day Part Report - TDL</a>
                                    </li>

                                    <li>
                                        <a href="/reports/logons_by_device_report_tdl/">Logons by Device Report - TDL</a>
                                    </li>

                                    <li>
                                        <a href="/reports/logons_by_restaurant_report_tdl/">Logons by Restaurant Report - TDL</a>
                                    </li>

                                    <li>
                                        <a href="/reports/logons_by_time_intervals_indigo/">Logons by Time Intervals - INDIGO</a>
                                    </li>

                                    <li>
                                        <a href="/reports/logons_by_time_online_tdl/">Logons by Time Online Report - TDL</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_statistics_by_device_indigo/">Session Report by Device - INDIGO</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_report_by_device_sth/">Session Report by Device - STH</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_statistics_by_site_indigo/">Session Report by Store - INDIGO</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_report_by_store_sth/">Session Report by Store - STH</a>
                                    </li>

                                    <li>
                                        <a href="/reports/detailed_session_report_ace/">Venue Session Details Report</a>
                                    </li>

                                    <li>
                                        <a href="/reports/session_report_by_access_code_ace/">Venue Session Report by Access Code</a>
                                    </li>

                                    <li>
                                        <a href="/reports/venue_session_report_by_event_ace/">Venue Session Report by Event</a>
                                    </li>

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accInt" href="#col_internal">
                            Internal Reports
                        </a>
                    </div>
                    <div id="col_internal" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>

                                    <li>
                                        <a href="/reports/hits_per_category_by_site_total/">DV-DNS - Number of Hits per Category</a>
                                    </li>

                                    <li>
                                        <a href="/reports/total_allowed_blocked/">DV-DNS - Total Number of Hits</a>
                                    </li>

                                    <li>
                                        <a href="/reports/zvelo_peak_time/">DV-DNS - Zvelo Peak Time</a>
                                    </li>

                            </ul>
                        </div>
                    </div>
                </div>


        </div>
    </div>